<%- include('partials/_header') %>

    <main class="w-4/5 max-w-6xl mx-auto">
        <section class="my-8 w-full py-12 shadow-sm rounded-xl ring-1 ring-white/10 bg-gray-900">
            <header class="flex flex-col items-center">
                <h1 class="text-gray-200 text-2xl italic">
                    EventApp
                </h1>
                <h2 class="text-2xl font-bold tracking-tight">
                    <%= title %>
                </h2>
            </header>
            <%- include('partials/_errors') %>
            <form action="/register" method="POST" class="grid gap-y-6 px-8">
                <div class="flex flex-col gap-x-3">
                    <label for="name" class="inline-flex items-center text-sm font-medium leading-6">
                        Name
                        <sup class="text-red-400 font-bold">*</sup>
                    </label>

                    <input type="text" name="name" id="name" class="p-2 placeholder:text-gray-500 bg-gray-800 rounded" required>
                </div>
                <div class="flex flex-col gap-x-3">
                    <label for="email" class="inline-flex items-center text-sm font-medium leading-6">
                        Email address
                        <sup class="text-red-400 font-bold">*</sup>
                    </label>

                    <input type="email" name="email" id="email" class="p-2 placeholder:text-gray-500 bg-gray-800 rounded" required>
                </div>
                <div class="flex flex-col">
                    <label for="password" class="inline-flex items-center text-sm font-medium leading-6">
                        Password
                        <sup class="text-red-400 font-bold">*</sup>
                    </label>

                    <input type="password" name="password" id="password" class="p-2 placeholder:text-gray-500 bg-gray-800 rounded" required>
                </div>

                <button type="submit" class="w-full font-semibold rounded-lg px-3 py-2 text-sm shadow-sm bg-green-600">
                    Sign in
                </button>

                <p>Already have an account? <a class="underline text-blue-500" href="/login">Log in</a> instead.</p>
            </form>

        </section>
    </main>


<%- include('partials/_footer') %>
